extends layout

block content
	.container.pt-3
		//login form
		form.form-horizontal(method='POST' action='/login')
			.form-group
				label.control-label(for='email') Email:
				input#email.form-control(type='email' name='email')
			.form-group
				label.control-label(for='password') Password:
				input#pw.form-control(type='password' name='password')
			.form-group
				button.btn.btn-default(type='submit') Log in
		



