nav.navbar.navbar-toggleable-md.navbar-inverse.bg-primary
	.container
		button.navbar-toggler.navbar-toggler-right(type='button', data-toggle='collapse', data-target='#navbarNav', aria-controls='navbarNav', aria-expanded='false', aria-label='Toggle navigation')
			span.navbar-toggler-icon
		#navbarNav.collapse.navbar-collapse
			ul.navbar-nav.mr-auto
				li.nav-item.active
					a.nav-link(href='hospitals') Find a patient 
						span.sr-only (current)
				li.nav-item
					a.nav-link(href='profile') About
				li.nav-item
					a.nav-link(href='logout') Profile
			a.navbar-brand Created by Sandy
